* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  font-size: 1.2em;
}
#title {
  text-align: center;
  color: brown;
}
#fotos {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#fotos img {
  width: 250px;
  margin: 20px;
  box-shadow: 0px 2px 12px 2px #000000;
  transition: transform 0.5s;
  cursor: pointer;
}
#fotos img:hover {
  transform: scale(1.1);
}

#bigBox {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 70px 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(-100vh);
  transition: transform 0.5s;
}
#fotoBox {
  position: relative;
  height: 100%;
}
#fotoBox i {
  position: absolute;
  top: -1em;
  right: -1em;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}
#bigBox img {
  max-width: 100%;
  max-height: 100%;

  transition: transform 0.5s;
  transform: scale(0);
}

@media (max-width: 900px) {
  #fotos {
    width: 90%;
  }
}

@media (max-width: 760px) {
  #bigBox {
    padding: 30px;
  }
}
